
      <link href="/assets/stylesheets/index.css" rel="stylesheet" type="text/css" />
<footer>
      <nav class="footerelements">
         &copy; 2020 CampusEvents.com 	
         <a href="/contact">CONTACT</a> |
         <a href="/about">ABOUT</a>
		 <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
      </nav>
   </footer>