<link href="/assets/stylesheets/index.css" rel="stylesheet" type="text/css" />
<HEADER>
         <div class="mainheader">
         <nav>
            <ul class="HeaderList">
               <li><a href="/Login">&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
               <li><a href="/Login">&nbsp;Sign Up &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>|</li>
               <li><a href="/newConnection">&nbsp;Register for an Event&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</a></li>
         </ul>
		 </nav>
         <a href="/"><img src="/assets/images/events.png" alt="logo" class="Logo"/></a>
         <h4 class="header4">UNC Charlotte Campus Events</h4>
		 </div>
      </HEADER>
      <div class="innerNavigation">
<a href="/connections" class="Event">Events</a><h5 class="normNames">
        
        No user logged In</h5>

</div>